.game.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 32.8rem;
  margin-bottom: 6.4rem;
}

.turn {
  width: 9.6rem;
  height: 4rem;
  background: #1f3641;
  box-shadow: inset 0px -4px 0px #10212a;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #a8bfc9;
  gap: 0.9rem;
  padding-bottom: 0.4rem;
  margin-left: -3rem;
}

.turn .x-turn,
.turn .o-turn {
  display: none;
}
.turn .x-turn.active,
.turn .o-turn.active {
  display: block;
}

.restart {
  height: 4rem;
  width: 4rem;
  background: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.restart img {
  width: 1.54rem;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  gap: 2rem;
}

.row .cell {
  aspect-ratio: 1/1;
  width: 9.6rem;
  background: #1f3641;
  box-shadow: inset 0 -8px 0 #10212a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.row .cell.played {
  cursor: not-allowed;
}

.row .cell.X-picked:not(.played):hover {
  background: url(../assets/icon-x-outline.svg) #1f3641;
  background-repeat: no-repeat;
  background-position: center;
}

.row .cell.O-picked:not(.played):hover {
  background: url(../assets/icon-o-outline.svg) #1f3641;
  background-repeat: no-repeat;
  background-position: center;
}

.row .cell img {
  height: 4rem;
  width: 4rem;
  margin-top: -0.4rem;
}

.row .cell.winX {
  background: #31c3bd;
  box-shadow: inset 0px -8px 0px #118c87;
}

.row .cell.winX img,
.cell.winO img {
  filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(100deg) brightness(5%)
    contrast(70%);
}

.row .cell.winO {
  background: #f2b137;
  box-shadow: inset 0px -8px 0px #cc8b13;
}

.scoreboard {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.your-score,
.ties-score,
.cpu-score {
  width: 9.6rem;
  height: 6.4rem;
  background: #31c3bd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.2rem;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #1a2a33;
}

.ties-score {
  background: #a8bfc9;
}

.cpu-score {
  background: #f2b137;
}

.score {
  color: #1a2a33;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1.25px;
}

@media screen and (max-width: 370px) {
  .row .cell {
    width: calc(100vw * 0.256);
  }

  .your-score,
  .ties-score,
  .cpu-score {
    width: calc(100vw * 0.256);
    height: calc(100vw * 0.17067);
    padding-top: calc(100vw * 0.02);
  }
}

@media screen and (max-width: 300px) {
  .turn {
    margin-left: -0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 46rem;
    margin-bottom: 1.9rem;
  }

  .turn {
    width: 14rem;
    height: 5.2rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-left: -2rem;
  }

  .turn svg {
    height: 2rem;
    width: 2rem;
  }

  .restart {
    height: 5.2rem;
    width: 5.2rem;
  }

  .restart img {
    height: 2rem;
    width: 2rem;
  }

  .board {
    margin-bottom: 3rem;
  }

  .row .cell {
    width: 14rem;
    box-shadow: 0 10px 0 #0f191e;
    transition: box-shadow 0.3s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
      background-size 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .row .cell:hover {
    transform: translate3d(0, 4px, 0);
    box-shadow: 0 6px 0 #0f191e;
  }

  .row .cell.played {
    transform: translate3d(0, 8px, 0);
    box-shadow: 0 2px 0 #0f191e;
  }

  .row .cell img {
    height: 6.4rem;
    width: 6.4rem;
  }

  .your-score,
  .ties-score,
  .cpu-score {
    width: 14rem;
    height: 7.2rem;
    border-radius: 15px;
  }

  .x-picked,
  .ties,
  .o-picked {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 0.875px;
  }

  .score {
    font-size: 2.4rem;
    line-height: 30px;
    letter-spacing: 1.5px;
  }
}
